---
import BlogPost from "../../components/blog-post.astro";
import BaseLayout from "../../layouts/base-layout.astro";

// returns an array of page routes
// all the pages at those routes will use
// the same template defined in the file
export async function getStaticPaths() {
  // esta funcion siempre debe retornar una lista
  // de objetos que contiene 'params' y opcionalmente
  // 'props'
  // retrieve information for construct page routes
  const allPosts = await Astro.glob("../posts/*.md");

  // get unique Tags elements
  const uniqueTags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
  
  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.frontmatter.tags.includes(tag));
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

// recieve information in the HTML template of a page route
const { tag } = Astro.params;
const { posts } = Astro.props;
// const filteredPosts = posts.filter((post) => post.frontmatter.tags?.includes(tag));
---

<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
